<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
		<bean id="employeeObj" class="com.demo.bean.EmployeeBean" scope="prototype" lazy-init="true">
			<property name="eid" value="1001"></property>
			<property name="ename" value="tarun"></property>
			<property name="city" value="delhi"></property>
			<property name="salary" value="979607.34"></property>
			<property name="homeAddress">
				<ref bean="homeAddressObject"/>
			</property>
			<property name="officeAddress">
				<ref bean="officeAddressObject"/>
			</property>
		</bean>
		
		<bean id="homeAddressObject" class="com.demo.bean.AddressBean" scope="prototype" lazy-init="true">
			<property name="city" value="rohini"></property>
			<property name="state" value="delhi"></property>
			<property name="pincode" value="110089"></property>
		</bean>
		
		<bean id="officeAddressObject" class="com.demo.bean.AddressBean">
			<property name="city" value="melbourn"></property>
			<property name="state" value="sydney"></property>
			<property name="pincode" value="452422"></property>
		</bean>
		
		<!-- through helper class -->
		<bean id="helper" class="com.demo.bean.HelperBean" scope="prototype" lazy-init="true">
			<property name="iemployee">
				<ref bean="employeeObj"/>
			</property>
		</bean>
	
	</beans>