.idx {
	text-align: center;
	font-family: cursive;
	color: red;
}

.enter {
	text-align: center;
	font-family: cursive;
	color: blue;
}

.show {
	text-align: center;
	font-family: cursive;
	color: green;
}

.repeat {
	text-align: center;
	font-family: cursive;
	color: brown;
}

.heading {
	text-align: center;
	font-family: cursive;
	color: aquamarine;
}

.btnOne a {
	color: black;
}

.btnTwo a {
	color: black;
}

table tbody {
	text-align: center;
}