<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
		<bean id="empObj" class="com.spring.core.bean.EmployeeBean" scope="prototype" lazy-init="true">
			<property name="eid" value="1001"></property>
			<property name="ename" value="tarun"></property>
			<property name="city" value="delhi"></property>
			<property name="salary" value="979607.34"></property>
            <!-- this is composition -->
			<property name="homeAddress">
                <bean class="com.spring.core.bean.AddressBean">
			        <property name="city" value="rohini"></property>
			        <property name="state" value="delhi"></property>
			        <property name="pincode" value="110089"></property>
		        </bean>
			</property>
		</bean>
        	
	</beans>